@{
  Layout = "_Layout";
}
<form method="post" action="/stylists">
  <div class="form-group">
    <label for="name">Stylist Name</label>
    <input type="text" name="name" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Add Stylist</button>
</form>
<br>
<a href="/" class="btn btn-danger">Return Home</a>
