@{
  Layout = "_Layout";
}

<h1>We're all about that hair</h1>

    <a href="/stylists/new" class="btn btn-primary">Add new stylist</a>
<br>
<h3>list of current stylists:</3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var stylist in Model)
        {
            <tr>
                <td><a href="/stylists/@stylist.GetId()">@stylist.GetName()</a></td>
            </tr>
        }
    </tbody>
</table>
