@{
  Layout = "_Layout";
}

<form method="post" action="/stylists/@Model.GetId()/clients">
  <div class="form-group">
    <label for="new-name">Client Name</label>
    <input type="text" name="new-name" class="form-control">
  </div>
  <div class="form-group">
    <label for="new-appt">Date for Appointment</label>
    <input type="date" name="raw-appt" class="form-control">
  </div>
  <button type="submit" class="btn btn-warning btn-lg">Add Client</button>
</form>
<a href="/">Return Home</a>
